<<<<<<< HEAD
.contact {
  margin: 20px auto;
  max-width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.contact-col {
  flex-basis: 50%;
}

.contact-col h3 {
  color: blueviolet;
  font-weight: 300;
  font-size: 30px;
}

.contact-col h3 img {
  width: 35px;
  margin-left: 10px;
}

.contact-col p {
  max-width: 100%;
  line-height: 1.6;
  margin: 20px 0;
}

.contact-col ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-col ul li img {
  width: 25px;
  margin-right: 10px;
}

.contact form input, .contact form textarea {
  display: block;
  width: 100%;
  background: lavender;
  padding: 10px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
  border-radius: 5px;
}

.contact-col span {
  display: block;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    gap: 30px;
  }
  
  .contact-col {
    flex-basis: 100%;
  }
  
  .contact-col h3 {
    font-size: 24px;
  }
  
  .contact-col p {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .contact {
    margin: 20px auto;
    max-width: 95%;
  }
  
  .contact-col h3 {
    font-size: 20px;
  }
  
  .contact-col h3 img {
    width: 25px;
  }
  
  .contact-col ul li img {
    width: 20px;
  }
}
=======
.contact{
    margin:20px  ;
    max-width: 90%;
    display:flex;
    align-content: center;
    justify-content: space-between;
}

.contact-col{
   flex-basis: 50%; 
}

.contact-col h3{
    color: blueviolet ;
    font-weight: 300;
    font-size: 30px;
    

}
.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
    

}
.contact-col p{
    max-width: 50%;
    

}
.contact-col ul li{

display:flex;
align-items: centre;
margin: 20px 0;

}
.contact-col ul li img {
    width: 25px;
    margin-right: 10px;
}
.contact form input,.contact form textarea{
    display: block;
    width: 100%;
    background: lavender;
    padding: 10px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;

}
.contact-col span{
    display: block;
    margin: 20px 0;
}
>>>>>>> f24b3cf90b9af885a6730adb91be60b0925b2216
