<<<<<<< HEAD
nav {
  width: 100%;
  color: antiquewhite;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  width: 180px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  margin: 5px 10px;
  font-size: 18px;
}

.dark-nav {
  background-color: darkorchid;
  transition: 0.5s;
}


.mobile-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.mobile-menu span {
  width: 25px;
  height: 3px;
  background-color: antiquewhite;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
  
  nav ul {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: darkorchid;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: right 0.3s ease;
    padding-top: 50px;
  }
  
  nav ul.active {
    right: 0;
  }
  
  nav ul li {
    margin: 20px 0;
    font-size: 20px;
  }
  
  .mobile-menu {
    display: flex;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }
  
  nav {
    padding-left: 4%;
    padding-right: 4%;
  }
=======
nav{
    width: 100%;
    /* background: #333; */
    color: antiquewhite;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
}
nav ul li{
    display: inline-block;
    margin: 5px 10px;
   font-size:  18px;



}
.dark-nav{
    background-color: darkorchid;
    transition: 0.5s;
>>>>>>> f24b3cf90b9af885a6730adb91be60b0925b2216
}
