<<<<<<< HEAD
.campus {
  margin: 70px auto;
  width: 90%;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 10px;
}

.gallery img {
  width: 22%;
  border-radius: 10px;
}

.btn img {
  width: 25px;
}

@media (max-width: 768px) {
  .gallery {
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .gallery img {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .campus {
    width: 95%;
  }
  
  .gallery img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .gallery {
    flex-direction: column;
  }
=======
.campus{
    margin: 70px auto;
    width: 90%;
    text-align: center;

}
.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

}
.gallery img{
    width: 22%;
    border-radius: 10px;
}
.btn img{
    width: 25px;
>>>>>>> f24b3cf90b9af885a6730adb91be60b0925b2216
}
